<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="ion-title">
            {{detallePromociones}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="detail-detail">

    <div class="detail-background">
        <h1>Promocion : {{name}}</h1>
        <ion-header class="ion-no-border">
            <ion-toolbar>
                <ion-buttons slot="start">
                </ion-buttons>
                <ion-buttons *ngIf="isData" class="opt-btn" slot="end">
                    <ion-button>
                        <ion-icon slot="icon-only" ios="call-outline" md="call-sharp"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
    </div>

    <div class="ion-padding detail-detail">
        <h3>Genero :{{gender}}</h3>
        <p>{{description}}</p>

        <hr>
    </div>
</ion-content>